@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body {
  text-align: center;
  font-size: 15px;
  font-family: 'Iropke Batang', serif;
}

.header {
  font-size: 20px;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 640px;
}

.page:not(.cover) {
  padding-top: 15%;
  padding-bottom: 15%;
}

.page:not(:last-child):not(.cover) {
  border-bottom: 1px dotted lightgray;
}

.page img {
  max-width: 100%;
}

.invitation .content {
  text-align: left;
}

.invitation .signatureLine {
  text-align: center;
}

.invitation .signature {
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Nanum Pen Script', serif;
}

.contents .content span.title {
  display: block;
  font-weight: bold;
}

.location {
  text-align: left;
}
.location span {
  display: block;
  font-size: 1.3rem;
  font-family: 'Nanum Gothic', serif;
}
.location .naverMapIcon {
  margin-bottom: -3px;
  margin-left: 5px;
  width: 15px;
}

.location .phone a {
  color: black;
  text-decoration: none;
}

.waiting .message {
  margin-bottom: 20px;
}

.waiting .message span {
  display: block;
}

.ending {
  font-size: 20px;
  font-family: 'Nanum Pen Script', serif;
}
